{% extends 'base.html' %}
<!-- code starts here -->

{% block content %}

<div class="jumbotron mt-3">
  <div style="margin: 0 auto; width: 50%;">
    <h1>Welcome to Image Scrapper</h1>
    <form class="form-group form" method="POST" action="searchImages">
      <div class="row ml-5">
        <div class="col-5">
          <input
            class="form-control"
            type="text"
            name="search_keyword"
            placeholder="Enter image name"
          />
        </div>
        <div class="col-4">
          <input
            class="form-control"
            type="number"
            name="images_limit"
            placeholder="Enter limit"
          />
        </div>
      </div>
      <center>
        <input class="btn btn-primary mt-3" type="submit" value="download" />
      </center>
    </form>
  </div>
</div>
{% endblock %}
