{% extends 'base.html' %}
<!-- code starts here -->
{% block content %}

<!--if block -->
<div class="mt-3">
  {% if keywords %}
  <!--for block-->
  <h1 style="text-align: center;" class="m-4">Keyword History</h1>
  <div class="list-group">
    {% for keyword in keywords %}
    <a
      href="/showImages/{{keyword}}"
      class="list-group-item list-group-item-action"
    >
      {{keyword}}
    </a>

    {% endfor %}
    <div>
      {% elif images %}

      <!--for block-->
      {% if keyword %} {% for image in images %}
      <img
        src="{{ url_for('static',filename=image) }}"
        class="rounded img-fluid m-1"
        width="150"
        height="150"
      />
      {% endfor %} {% else %} {% for image in images %}
      <img src="{{image}}" class="rounded m-1" width="150" height="150" />
      {% endfor %} {% endif %} {% endif %}
      <!--endif-->
    </div>
    {% endblock %}
  </div>
</div>
